*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.main-section{
  height: 100vh;
}


.left-section{
  background: rgb(189, 93, 56);
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.right-section{
  max-height: 100vh;
  overflow-y: scroll;
}



.row{
  height: 100%;
  width: 100%
}


.profile-img{
  height: 160px;
  width: 160px;
  border: 10px solid #ffffff33;
  border-radius: 50%;

}

.nav-iteams{
  margin: 20px;
}

.nav-links{
  color: white;
  font-weight: 1000;
  display: block;
  text-align:center ;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}

.new-section{
  padding: 150px 40px;
  border-bottom: 2px solid gray;
  min-height: 800px;
  font-weight: 1000;
}

.name{
  font-size: 62px;
  font-weight: 1000;
  color:rgb(189, 93, 56) ;

}
.middle-name{
  color:black;
}


.contact-info{
  display: flex;
  width:100%;
  font-size: 20px;
  list-style-type: none

}

.home-add{
  color: rgb(189, 93, 56);
  
}

.email{
  margin-left:50px;
}


.phone{
  color: rgb(189, 93, 56);
  margin-left:50px;
  
}



.summary{
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}


.para{
  font-weight: lighter;
  color: gray;
}


.social-icons{
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-icon{
  background-color: #495057;
  color: #fff;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  padding: 20px 20px;
}

.social-icon:hover{
  background-color: #bd5d38;
  color: white;
}


.certification{
  font-weight: bold;
  text-decoration: underline;
  

}


.education{
  font-weight: bold;
  text-decoration: underline;
}

.skills-section{
 width:300%;
}